<form class="card admin-form dark-form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="admin-form__header">
    <p class="eyebrow">Hotels</p>
    <h2>Create or update hotel</h2>
  </div>

  <div class="row g-3 admin-form__grid">
    <label class="col-12 col-md-6 col-xl-4 form-row">
      <span class="form-label">Operation</span>
      <select class="form-select" formControlName="mode">
        <option value="create">Create</option>
        <option value="update">Update</option>
      </select>
    </label>
    <label class="col-12 col-md-6 col-xl-4 form-row">
      <span class="form-label">Path hotel id for update</span>
      <input class="form-control" type="number" min="1" formControlName="pathHotelId" />
    </label>
    <label class="col-12 col-md-6 col-xl-4 form-row">
      <span class="form-label">Hotel id</span>
      <input class="form-control" type="number" min="1" formControlName="hotelId" />
    </label>
    <label class="col-12 col-md-6 col-xl-4 form-row">
      <span class="form-label">Name</span>
      <input class="form-control" formControlName="name" />
    </label>
    <label class="col-12 col-md-6 col-xl-4 form-row">
      <span class="form-label">City</span>
      <input class="form-control" formControlName="city" />
    </label>
    <label class="col-12 col-md-6 col-xl-4 form-row">
      <span class="form-label">Country</span>
      <input class="form-control" formControlName="country" />
    </label>
    <label class="col-12 col-md-6 col-xl-4 form-row">
      <span class="form-label">Address</span>
      <input class="form-control" formControlName="address" />
    </label>
    <label class="col-12 col-md-6 col-xl-4 form-row">
      <span class="form-label">Stars</span>
      <input class="form-control" type="number" min="1" max="5" formControlName="stars" />
    </label>
    <label class="col-12 col-md-6 col-xl-4 form-row">
      <span class="form-label">Status</span>
      <select class="form-select" formControlName="status">
        @for (status of statuses; track status) {
          <option [value]="status">{{ status }}</option>
        }
      </select>
    </label>
    <label class="col-12 col-md-6 col-xl-4 form-row">
      <span class="form-label">Infant max age</span>
      <input class="form-control" type="number" min="0" formControlName="infantMaxAge" />
    </label>
    <label class="col-12 col-md-6 col-xl-4 form-row">
      <span class="form-label">Child max age</span>
      <input class="form-control" type="number" min="0" formControlName="childMaxAge" />
    </label>
    <label class="col-12 col-md-6 col-xl-4 form-row">
      <span class="form-label">Adult-equivalent age</span>
      <input class="form-control" type="number" min="0" formControlName="adultEquivalentAge" />
    </label>
    <label class="col-12 form-row">
      <span class="form-label">Description</span>
      <textarea class="form-control" formControlName="description"></textarea>
    </label>
    <label class="col-12 col-md-6 form-check admin-form__check">
      <input class="form-check-input" type="checkbox" formControlName="childrenAllowed" />
      <span class="form-check-label">Children allowed</span>
    </label>
    <label class="col-12 col-md-6 form-check admin-form__check">
      <input class="form-check-input" type="checkbox" formControlName="petsAllowed" />
      <span class="form-check-label">Pets allowed</span>
    </label>
  </div>

  <button type="submit" class="btn btn-brand-light admin-form__submit" [disabled]="submitting()">Save hotel</button>
</form>
